*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/release/
app/schemas/
app/build/
.claude/

.vscode/
# temp build/test log files
*_build.txt
*_test.txt
*_err*.txt
*_run*.txt
*_compile*.txt
build_output.txt
.kotlin/
